body {
  background: #778899;
  font-family: Verdana;
  color: #cef282;
}

nav {
  background: #383f51;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  min-width: 250px;
  border: solid black 5px;
}

img {
  height: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #cef282;
}

form {
  margin: 50px auto;
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
}

label {
  text-align: right;
  width: 35em;
}
input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  box-shadow: none;
  background: transparent;
}

input[list] {
  border: 0 0 5px solid black 0;
  box-shadow: none;
  background: transparent;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  box-shadow: none;
  background: transparent;
}

input:hover,
input:valid {
  border-bottom: 1px solid #cef282;
  color: #cef282;
}

/* input[list],
input[type="text"]:after {
  border-bottom: 1px solid #cef282;
} */

button {
  width: 10vw;
  margin: 10px auto;
}

header {
  text-align: center;
}

footer {
  padding-top: 1em;
}

p img:hover {
  transform: scale(1.1);
}

h1 {
  color: #cef282;
}
