body {
  background: #778899;
  font-family: Verdana;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
img {
  height: 1em;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #cef282;
}

form {
  margin: 50px auto;
  /* width: 25em
  ; */
  border: solid black 1px;
  display: flex;
  flex-direction: column;
}

label {
  text-align: right;
  width: 35em;
}

button {
  width: 10vw;
  margin: 10px auto;
}

header {
  text-align: center;
}
