<form>
    <label for="name">Name: <input type="text" name="name" id="name"></label>
    <label for="gym-name">What gym you train at ? <input type="text" name="gym" id="gym-name"></label>
    <label for="duration">How long is your workout ? <input type="text" name="name" id="duration"></label>
    <label for="fav-exercise">What is your favourite exercise: <input type="text" name="name" id="fav-exercise"></label>
</form>