<main>
    <form action="/feedback" method="POST">
        <label for="name">Name: <br><input type="text" name="name" id="name" pattern="[A-Za-z0-9]{1,20}"
                required></label>

        <label for="gym">What gym you train at ? <br><input list="gym" name="gym" required>
            <datalist id="gym">
                <option value="">
                <option value="Pure Gym">
                <option value="The Gym Group">
                <option value="Virgin Gym">
                <option value="Fit4Less">
                <option value="Local Leisure Center">
                <option value="Local Park">
                <option value="Other">

            </datalist></label>

        <label for="duration">How long is your workout ? <br>
            <input list="duration" name="duration" required>
            <datalist id="duration">
                <option value="">
                <option value="Short">
                <option value="Medium">
                <option value="Long ">
                <option value="Really long">

            </datalist></label>
        <label for="exercise">What is your favourite exercise: <br> <input type="text" name="exercise" id="exercise"
                pattern="[A-Za-z0-9]{1,20}" required></label>

        <button type="submit">Submit</button>
    </form>

</main>