<form action="/feedback" method="POST">
    <label for="name">Name: <input type="text" name="name" id="name"></label>

    <label for="gym-name">What gym you train at ? <input type="text" name="gym" id="gym-name"></label>
    <label for="duration">How long is your workout ?
        <input list="duration" name="duration">
        <datalist id="duration">
            <option value="">
            <option value="short">
            <option value="medium">
            <option value="long ">
            <option value="really long">

        </datalist></label>
    <label for="fav-exercise">What is your favourite exercise: <input type="text" name="fav-exercise"
            id="fav-exercise"></label>

    <button type="submit">Submit</button>
</form>