<a href="/">Home</a>
{{#if home}}
{{else}}
<a href="/feedbackhistory/{{name}}" title="Feedback History">My Feedback History</a>
{{/if}}
<a href="/">
    <h1 class="page-title"><img src="https://longfordpc.com/images/barbell-clipart-transparent-background-9.png"
            alt=""><br>Work-Out <br> <img src="https://i.ibb.co/mJ4ZsBQ/img.png"> Of
        The Day
        <img src="https://i.ibb.co/418TjRw/img.png">
    </h1>
</a>